body {
    margin: 0px;
}

.centered {
    text-align: center;
}

.hero-content {
    color: #FFF;
}

.hero-wrapper {
    align-items: center;
    background: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 200px;
    width: 100%;
}